<%= simple_form_for(@interaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :user, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :admin_id, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :interaction_type, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :occurred, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
