<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interaction.user %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @interaction.admin_id %>
</p>

<p>
  <strong>Interaction type:</strong>
  <%= @interaction.interaction_type %>
</p>

<p>
  <strong>Occurred:</strong>
  <%= @interaction.occurred %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
