<%= simple_form_for(@consultation) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :user, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :phone, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :message, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :date_time, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :length_in_minutes, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :comfirmed, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :notes, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :actions, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :consultation_type, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
