<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :lead, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :image, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :publish, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :slug, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :image_link, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
