<%= simple_form_for(@enquiry) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :phone, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :subject, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :message, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :user, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :followed_up, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
