<!-- Slider Start -->
			
			<div class="container">
				<!--
				#################################
					- THEMEPUNCH BANNER -
				#################################
				-->
				<div class="tp-banner-container">
					<div class="tp-banner" >
						<ul>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
								<!-- MAIN IMAGE -->
								<img src="<%= asset_path 'slider/slide1.jpg' %>"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYERS NR. 1 // -->
								<div class="tp-caption lfl largegreenbg br-red"
									data-x="50"
									data-y="140"
									data-speed="1500"
									data-start="1200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Red Perspective
								</div>	
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption skewfromleft medium_text paragraph"
									data-x="50"
									data-y="240"
									data-speed="800"
									data-start="1800"
									data-easing="Power4.easeOut"
									data-endspeed="400"
									data-endeasing="Power4.easeOut"
									data-captionhidden="off">At vero eos et accusamus et iusto<br />odio dignissimos ducimus qui blanditiis<br />praesentium voluptatum deleniti atque corrupti.
								</div>
								<!-- LAYERS NR. 3 // Slide Button -->
								<div class="tp-caption sfb"
									data-x="50"
									data-y="350"
									data-speed="1500"
									data-start="2600"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><a href="#" class="btn btn-info btn-lg btn-circle">Know More <i class="fa fa-angle-right"></i></a>
								</div>
								<!-- LAYERS NR. 1 // Logo Image -->
								<div class="tp-caption skewfromright"
									data-x="600"
									data-y="bottom"
									data-speed="800"
									data-start="3600"
									data-easing="Power4.easeOut"
									data-endspeed="400"
									data-endeasing="Power4.easeOut"
									data-captionhidden="off"><img src="<%= asset_path 'slider/s21.png' %>" class="img-responsive" alt="" />
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
								<!-- MAIN IMAGE -->
								<img src="<%= asset_path 'slider/slide2.jpg' %>"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYERS NR. 1 // Logo Image -->
								<div class="tp-caption lfl"
									data-x="130"
									data-y="center"
									data-speed="1500"
									data-start="1200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img src="<%= asset_path 'slider/logo.png' %>" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption lfr thinheadline_dark"
									data-x="500"
									data-y="120"
									data-speed="1500"
									data-start="2000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Welcome To
								</div>
								<!-- LAYERS NR. 2.1 -->
								<div class="tp-caption lfr very_large_text"
									data-x="500"
									data-y="150"
									data-speed="1500"
									data-start="2300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">FlatMania
								</div>
								<!-- LAYERS NR. 3 -->
								<div class="tp-caption lfr medium_text paragraph"
									data-x="500"
									data-y="220"
									data-speed="1500"
									data-start="3000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">The Boxes Style Theme
								</div>
								<!-- LAYERS NR. 4 // Slide Button -->
								<div class="tp-caption lfr medium_text paragraph"
									data-x="500"
									data-y="250"
									data-speed="1500"
									data-start="3400"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">You can customize the CSS <br />of your webpage.
								</div>
								<!-- LAYERS NR. 4.1 // Slide Button -->
								<div class="tp-caption sfb"
									data-x="500"
									data-y="325"
									data-speed="1500"
									data-start="4200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><a href="#" class="btn btn-info btn-lg btn-circle">Download Now <i class="fa fa-angle-right"></i></a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
								<!-- MAIN IMAGE -->
								<img src="<%= asset_path 'slider/slide3.jpg' %>"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS NR. 1 -->
								<div class="tp-caption lfl"
									data-x="100"
									data-y="130"
									data-speed="800"
									data-start="1500"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img src="<%= asset_path 'slider/s31.png' %>" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption lfl"
									data-x="0"
									data-y="252"
									data-speed="800"
									data-start="2100"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img src="<%= asset_path 'slider/s32.png' %>" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 3 -->
								<div class="tp-caption lfl"
									data-x="350"
									data-y="290"
									data-speed="800"
									data-start="2700"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img src="<%= asset_path 'slider/s33.png' %>" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 4 -->
								<div class="tp-caption lfl"
									data-x="250"
									data-y="309"
									data-speed="800"
									data-start="3300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img src="<%= asset_path 'slider/s34.png' %>" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 5 // -->
								<div class="tp-caption lfr largegreenbg br-orange"
									data-x="right"
									data-hoffset="-10"
									data-y="140"
									data-speed="1500"
									data-start="4000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Full Responsive
								</div>	
								<!-- LAYERS NR. 6 // -->
								<div class="tp-caption lfr modern_big_redbg br-green"
									data-x="right"
									data-hoffset="-10"
									data-y="220"
									data-speed="1500"
									data-start="4300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Desktop
								</div>	
								<!-- LAYERS NR. 7 // -->
								<div class="tp-caption lfr modern_big_redbg br-yellow"
									data-x="right"
									data-hoffset="-10"
									data-y="270"
									data-speed="1500"
									data-start="4600"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Laptop & Tablet
								</div>
								<!-- LAYERS NR. 8 // -->
								<div class="tp-caption lfr modern_big_redbg br-blue"
									data-x="right"
									data-hoffset="-10"
									data-y="320"
									data-speed="1500"
									data-start="4900"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Smartphone & i-pad
								</div>
								<!-- LAYERS NR. 9 // -->
								<div class="tp-caption lfr modern_big_redbg br-purple"
									data-x="right"
									data-hoffset="-10"
									data-y="370"
									data-speed="1500"
									data-start="5200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Mobile Phone
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- Slider End -->