<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "The Coder Factory" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>
<body>
    
    <!-- Body Wrapper -->
    <div class="wrapper white">  
      <%= render 'layouts/header' %>
      <%= render 'layouts/slider' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
    
    <!-- This Page JavaScript -->
    <script type="text/javascript" >
    
      // SLIDER REVOLUTION Java Script
        jQuery(document).ready(function() {
             jQuery('.tp-banner').revolution(
            {
              delay:9000,
              startheight:500,
              
              hideThumbs:10,
              
              navigationType:"none",  
              
              
              hideArrowsOnMobile:"on",
              
              touchenabled:"on",
              onHoverStop:"on",
              
              navOffsetHorizontal:0,
              navOffsetVertical:20,
              
              stopAtSlide:-1,
              stopAfterLoops:-1,

              shadow:0,
              
              fullWidth:"on",
              fullScreen:"off"
            });
        });
      
      // Cycle Slide Js 
      
        $('#box-slider-one').cycle({ 
          fx:    'uncover',  
          speed:    200, 
          timeout:  2500 
        });
      
      /* ******************************************** */
      /* plot js */
      /* *************************************** */  
          
        $(function() {
          /* Chart data #1 */
          var d1 = [[0, 0], [1, 1.5], [2, 3.2], [3, 4.1],[4, 5.1], [5, 5], [6, 5.3], [7, 6],[8, 6.3], [9, 7], [10, 7.5], [11, 8]];

          var options = {
            series: {
              lines: {
               show: true, fill: false, lineWidth:1
              },
              points: {
               show: true, fill: true, lineWidth:2, radius:3, fillColor: "#fff"
              },
              shadowSize: 0
             },
            colors :["#fff"],
             grid: {
              hoverable: true, color: "#fff", backgroundColor:null ,borderWidth:0, borderColor:"#fff", labelMargin:10
             },
             xaxis: {
              ticks: 10,
              font: {
                size: 12,
                color: ["#fff"]
              }
             },
             yaxis: {
              ticks: 5,
              font: {
                size: 12,
                color: ["#fff"]
              }
             }, 
             legend: {
              backgroundOpacity:0,
              noColumns:2,
              labelBoxBorderColor: null
             }
          };
          
          $("<div id='tooltip'></div>").css({
            position: "absolute",
            display: "none",
            "border-radius":"1px",
            padding: "4px 5px",
            color:"#999",
            "font-size":"11px",
            "background-color": "#fff",
            "border":"1px solid #ccc",
            "z-index": "20"
          }).appendTo("body");

          $(".plot-chart").bind("plothover", function (event, pos, item) {
              if (item) {
                var x = item.datapoint[0].toFixed(2),
                  y = item.datapoint[1].toFixed(2);

                $("#tooltip").html(x + ", " + y)
                  .css({top: item.pageY+5, left: item.pageX+5})
                  .fadeIn(200);
              } else {
                $("#tooltip").hide();
              }
          });

          $.plot(".plot-chart", [ {data: d1,  label: "Revenue"} ], options);
        });
        
      // Type your codde here
    </script>
</body>
</html>
